<table class="table">
	<tr class="tr">
		<td>Date</td>
		<td>ItemID</td>
		<td>AccessionItemNo</td>
		<td>JournalSequence</td>	
	</tr>
<tr class="tr">
<td><%= @details.Date %></td>
<td><%= @details.id %></td>
<td><%= @details.accessionItemNo %></td>
<td><%= @details.journalSequence %></td>
</tr>
</table>