<h1>Welcome to Dashboard</h1>
<%= button_to "Process A", userrolemaps_path,method: :get, class: "button_to" %>
<%= button_to "Process D", index1_path,method: :get, class: "button_to" %>
<%= button_to "Logout", logout_path,method: :get%>