<h1 class="headingdb">DASHBOARD</h1>
<table style="margin: 0px auto;">
	<tr>
		<td><%= button_to "Process A", userrolemaps_path,method: :get, class: "welcomepagebuttons" %></td>
		<td><%= button_to "Process D", index1_path,method: :get, class: "welcomepagebuttons" %></td>
	</tr>
</table>