// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Sign_Form{
	background:#8cb3f2;
	text-align:center;
}
body{
	font-family:Trebuchet MS;
	width:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}