<h1 style="color: white;" align="center" >Welcome to Dashboard</h1>
<table style="margin: 0px auto;">
<tr>
<td><%= button_to "ePub", userrolemaps_path,method: :get, class: "welcomepagebuttons" %></td>
<td><%= button_to "TypeSetting", index1_path,method: :get, class: "welcomepagebuttons" %></td>
</tr>
</table>
